<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @story.root? %>
    <div class="field">
      <%= f.label :deep %><br>
      <%= f.number_field :deep %>
    </div>
  <% else %>
    <%= f.hidden_field :deep %>
  <% end %>
  <div class="field">
    KEYWORD: <%= f.object.keyword %>
  </div>
  <%= f.hidden_field :keyword %>
  <%= f.hidden_field :children_keyword %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :parent_id %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
